# Build directories
build/
Builds/
Bin/
DerivedData/

# IDEs
.vscode/
.idea/
*.xcodeproj/
*.xcworkspace/
*.sln
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Artifacts
*.dmg
*.pkg
*.zip

# Jupyter
*.ipynb
